p.telephone{
    color: #e30b11;
}
.telephone span{
    color: #9096AC;
}
/*                                             nav                                           */
.mainnav>ul>li>ul li{
    background-color: #e80000;
}
#nav{
    background: #e60012;
}
.menu .submenu{
    box-shadow: 1px 3px 4px #e60012;
}
#nav .menu,.mainnav ul li a{
    color: white;
}
#nav .menu,.mainnav ul li{
    color: white;
}
#nav .menu .submenu_wrap:hover>a{
    border-top: 1px solid;
    background-color: white !important;
    color: #0674BD;
}
#nav .wrap .mainnav ul li:hover{
    background-color: #03527D;
}
#nav .menu>a:hover{
    background-color: #03527D;
}
.menu dl{
    color: black;
}
.menu dl dd span a{
    color: #b2b2b2;
}
.menu dl dd span a:hover{
    color: red;
    text-decoration:underline;
}
.menu .submenu{
    background:white
}
.footer_link a,.friendly_link a,span{
    color: #99A1A6;
}
.footer_link a:hover,.friendly_link a:hover{
    color: #e30b11;
    text-decoration:underline;
}
.product a,.time a{
    color:#e30b11 ;
}
.here{
    background-color: #03527D;
}
.help-center ul li a{
    color: #737373
}
.help-center ul li a:hover{
    color: #ff6631;
    text-decoration: underline;
}
a.target{
    color: #ff6631 !important;
    text-decoration: underline;
}
