p.telephone{
    font-size: 15px;
}
#nav .menu,.mainnav{
    font-size: 17px;
}
.menu dl>dt{
    text-align: center;
    font-size: 18px;
    letter-spacing:5px;
    text-indent:15px;
}
.dd_five{
    letter-spacing:1px !important;
}
.menu dl dd span a{
    line-height: 45px;
    font-size: 15px;
}
.price p,.product p,.time p{
    font-size: 15px;
    line-height: 25px;
}
.price table{
    font-size:  14px;
}
